body {
    font-family:'Inter',sans-serif;
    margin: 0;
    padding: 0;
    background:#f8fafc;
}

.container {
    text-align: center;
    max-width:1100px;
    margin:auto;
    padding:40px 20px;
}

.header{
    text-align:center;
    margin-bottom:40px;
}

.logo {
    width: 80px;
}

.header h1 {
    font-size: 1.2rem;
    margin: 0;
}

.calculator-card{
    display:flex;
    flex-direction: row-reverse;
    gap:40px;

    background:white;
    border-radius:24px;

    padding:60px 32px;

    align-items:center;

        width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 8px 40px rgba(2,132,199,.08);
    border-radius: 8px;
    margin-top: 20px;
}

.result-panel{
    flex:1;

    text-align:center;

    padding-right:40px;

    border-right:1px solid #e5e7eb;
}

.form-panel{
    flex: 1;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* select,
input{
    width:100%;
    padding:14px 16px;
    margin-bottom: 10px;
    border:1px solid #dbeafe;
    border-radius:12px;
    background:#fff;
    font-size:16px;
} */

select, input[type="number"], input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-shadow:

        inset 0 2px 6px rgba(0,0,0,.30);

    transition:.2s;
}

select:hover,
input:hover{
    border-color:#38bdf8;
}

select:focus,
input:focus{
    outline:none;

    border-color:#0284c7;

    box-shadow:

        inset 0 2px 6px rgba(0,0,0,.06),

        0 0 0 3px rgba(14,165,233,.15);
}


.result-container {
    margin-top: 20px;
}

.result-box {
    padding:24px;
    margin-bottom: 20px;
    color: #1C6082;
    font-size: 18px;
    text-align: center;
}

.total-bill{
    font-size:3.5rem;
    font-weight:700;

    color:#0284c7;

    line-height:1.1;
}

.result-label{
    font-size: 1.6rem;
    font-weight:600;

    color:#64748b;

    letter-spacing:1px;

    margin-bottom:12px;
}

.result-detail {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 0.95rem;
    color: #475569;
}


.water-icon svg{
    width:110px;
    height:110px;

    color:#38bdf8;

    margin-bottom:20px;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 16px;
    border-top: 1px solid #e5e7eb;

    color: #94a3b8;
    font-size: 0.85rem;
}

@media(max-width:768px){

    .calculator-card{
        flex-direction:column;
        padding: 20px;
    }

    .result-panel{
        border-right:none;

        border-bottom:1px solid #e5e7eb;

        padding-right:0;
        padding-bottom:30px;
    }

}
